body {
    margin: 0;
    /*font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;*/
    color: #1a1a1a;
    overflow-x: hidden;      
}
  
.hero {
    background: #282828;
    color: white; 
    padding: 16rem 0rem 0 0rem;
    position: relative;
}
  
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    top: -100px;
    
}

.mobile-break {
    display: none;
}

@media screen and (max-width: 767px) {
    * {
        box-sizing: border-box;
    }
      
    body {
        overflow-x: hidden;
    }

    .hero {
        padding-top: 6rem;
    }
  
    .content {
        flex-direction: column;
        align-items: center;
        top: 0 !important; 
        margin-top: 0 !important;
        margin-left: 15px;
        margin-right: 15px;
    }

    .mobile-break {
        display: inline;
    }

    .subtext h1.responsive-title {
        font-size: 2.2rem;
        align-self: center;
    }
    /*
    .left h1 {
        font-size: 2rem;
        margin-top: -50px;
        align-self: center;
    }*/
  
    .right {
        width: 100%;
        max-width: 100%;
        margin-right: 10px;
        margin-top: 0 !important; 
        /*margin: 1rem 0 3rem 0 !important;   
        padding: 1.5rem;  
        margin-left: 0 !important;*/
        align-self: center;
        margin-bottom: 3rem;
    }  

    .left, .text {
        width: 100%;
        max-width: 100%
    }
   
}

.left {
    flex: 1;
    min-width: 300px;
    align-self: flex-start;
    margin-top: 70px;
}

.left p.subtitle {
    font-size: 1.3rem;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-top: -30px; 
}

.text {
    width : 100%;
    max-width: 650px;
}

.subtext {
    width : 100%;
    max-width: 650px;
}

.left h1 {
    font-size: 2.755rem;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    margin-top: -115px;
    color: #ffffff;
}
      
.left p {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat';
    font-weight: 300;
    margin-top: -10px; 
} 

.right {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    margin-top: -45px; 
    color: #000;
    width: 350px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    align-self: flex-start;
    margin-left: auto; 
    position: relative;
    z-index: 10;
}
  
.privacy-consent label {
    display:inline;
    align-items: center;
    font-size: 13px;    
    font-family: 'Montserrat';
}

.privacy-consent label a {
    color: #cccf34;
}
  
.privacy-consent input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #ffe600;
    
}

.privacy-consent input[type="checkbox"]:checked {
    margin-right: 10px;    
}

.privacy-consent {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;    
}
  
input {
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input, select, textarea {
    font-family: 'Montserrat';
    font-size: 14px;
    
}
  
input::placeholder,
select::placeholder {
  font-family: 'Montserrat'; 
  font-size: 14px;
}

select {
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
}
  
button {
    padding: 0.75em;
    background-color: #efecea;
    color: #282828;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 600;
}
  
button:hover {
    background-color: #ffe600;
    color: #282828;
    cursor: pointer;
}    

.footer-logos {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    gap: 2rem;
    /*border-top: 9px solid white;*/
}
  
.footer-logos a {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
  
.footer-logos a img {
    display: block;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    filter: grayscale(100%);
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    object-fit: contain;
}

.footer-logos a:first-child img {
    height: 65px;
}
  
.footer-logos a:nth-child(2) {
    margin-left: 10px; 
}
  
.footer-logos a img:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: grayscale(0%);
}

.custom-unibz-logo {
    top: 20px; 
    position: relative;
    height: 65px;
}

.custom-jeaa-logo {
    top: 18px; 
    position: relative;
}


.custom-ey-logo {
    top: 5px; 
    margin-left: 2px;
    position: relative;
}
  

  


  
  
